<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %>
<body>
    <!-- header section starts -->
    <%- include('../partials/header') %>
    <!-- header section ends -->
    <main class="panel-admin">
        <h3 class="title">List Products</h3>
        <section class="tablas">
            <div class="filtros">
                <input type="search" name="name" placeholder="Search...">
                <select name="color" id="">
                    <option value=""></option>
                </select>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>category</th>
                        <th>name</th>
                        <th>color</th>
                        <th>stock</th>
                        <th>status</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.products.forEach(product => { %>
                    
                        <tr>
                            <td data-label="ID"><%= product.id %></td>
                            <td data-label="CATEGORY" ><%= product.category %></td>
                            <td data-label="NAME"><%= product.name %></td>
                            <td data-label="COLOR"><%= product.color %></td>
                            <td data-label="STOCK" ><%= product.stock %></td>
                            <td data-label="STATUS" class="pl-md">
                                <span <% if (product.status === true) { %>
                                    class="available"
                                <% } else { %>
                                    class="not-available"
                                <% } %> 
                                > 
                                </span>
                            </td>
                            <td data-label="ACTION">
                                <!-- los dos links son mostrar en caso de estar  -->
                                <form action="/admin/product/<%= product.id %>?_method=PATCH" method="POST">
                                    <button type="submit"><i class="<%= (product.status === true)? "fas fa-eye" : "fas fa-eye-slash"%>"></i></button>
                                </form>
                                <!-- el siguiente link nos envia a un vista para editar el producto con determinado id -->
                                <a href="/admin/product/<%= product.id %>"><i class="fas fa-edit"></i></a>
                                <!-- el siguiente link es para eliminar un producto, con determinado id -->
                                <form action="/admin/product/<%= product.id %>?_method=DELETE" method="POST">
                                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <div class="pages">
                <% for( let i = 0; i < data.totalPages; i++) { %>
                    <a href="/admin/products/paginacion?page=<%= i %>"><%= i+1 %> </a>
                <% } %>
            </div>
        </section>

    </main>
    <script src="/js/header.js"></script>
</body>

</html>